<p id="notice"><%= notice %></p>

<h1>Category id#<%= @category.id %> posts (<%= @posts.count %>)</h1>

<div class="row">
  <div class="col col-md-6">
    <% @posts.each do |post| %>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= post.name %></h5>
          <p class="card-text"><%= post.content %></p>
          <%= link_to 'Show', category_post_path(@category, post), class: 'card-link' %>
          <%= link_to 'Edit', edit_category_post_path(@category, post), class: 'card-link' %>
          <%= link_to 'Destroy', category_post_path(@category, post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>
        </div>
      </div>
    <% end %>


    <%= link_to 'New Post', new_category_post_path(@category) %> |
    <%= link_to 'Back to Categories', categories_path %>

  </div>

  <div class="col col-md-6">
    Category comments here
  </div>
</div>
