<p id="notice"><%= notice %></p>

<h1>Post id#<%= @post.id %></h1>

<div class="row">
  <div class="col col-md-6">

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= @post.name %></h5>
          <p class="card-text"><%= @post.content %></p>
        </div>
      </div>

    <%= link_to 'Back to Posts', category_posts_path(@category) %>
  </div>

  <div class="col col-md-6">
    <% content_for :head do %>
      <%= javascript_pack_tag 'comments_app' %>
      <%= stylesheet_pack_tag 'comments_app' %>
    <% end %>

    <div id="comments_app" data-object-type="post" data-object-id="<%= @post.id %>"></div>
  </div>
</div>